$board-size: 700px;

.inactive {
  display: none !important;
}

#game {
  line-height: 0 !important;
  margin: 0 auto;
  padding: 60px 0;
  //max-width: 1200px;
  text-align: center;
  background: #330000;
  #board {
    width: $board-size;
    height: $board-size;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}

.board-row {
  margin: 0;
  position: relative;
  height: 5%;
  .board-cell {
    display: inline-block;
    height: 100%;
  }
}

.road {
  background-color: darkgrey;
}

.district {
  background-color: darkseagreen;
}

.bus-stop {
  background-image: url("../img/game-icons/bus-stop-img.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.pavements {
  background-color: grey;
}

.bus {
  //background-color: darkred;
  background-image: url("../img/game-icons/bus-up-down.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

//.bus1{background-color: green}
.bus2 {
  background-color: yellow
}

.bus3 {
  background-color: dodgerblue
}

.bus4 {
  background-color: orangered
}

#passenger {
  //background-color: whitesmoke;
  background-image: url("../img/game-icons/passenger.svg");
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;

}

.occupied {
  background-color: lightcoral !important;
}
