$board-size: 700px;

.inactive {
  display: none !important;
}

#game {
  line-height: 0 !important;
  margin: 0 auto;
  padding: 60px 0;
  //max-width: 1200px;
  text-align: center;
  background: #330000;
  color: white;
  #board {
    width: $board-size;
    height: $board-size;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}

.board-row {
  margin: 0;
  position: relative;
  .board-cell {
    //box-sizing: border-box;
    display: inline-block;
    height: 100%;
    position: relative;
    .passenger {
      display: block;
      position: absolute;
    }
  }
}

.road {
  background-color: darkgrey;
}

.district {
  background-color: darkseagreen;
}

.bus-stop {
  background-image: url("../img/game-icons/bus-stop-img.png");
  background-repeat: no-repeat;
  background-size: contain;
}


.bus {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bus1,
.bus3{
  background-image: url("../img/game-icons/bus-up-down.png");
}
.bus2,
.bus4{
  background-image: url("../img/game-icons/bus-down-up.png");
}
.bus5,
.bus6,
.bus7,
.bus8 {
  background-image: url("../img/game-icons/bus-left-right.png");
}


#passenger {
  background-image: url("../img/game-icons/passenger.svg");
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;
  height: 100%;
  width: 100%;
  //z-index: 99;
}

.occupied {
  //background-color: lightcoral !important;
  background-image: url("../img/game-icons/buzka-wektorowa.svg") !important;
}

.score {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 200px;
  height: 30px;
  font-size: 25px;
  color: black;
}

.time {
  position: absolute;
  top: 100px;
  left: -50px;
  width: 200px;
  height: 30px;
  font-size: 25px;
  color: black;
}