body {
    background-color: black;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
    text-align: justify;
}

li {
    display: inline-block;
    line-height: 60px;
    list-style-image: none;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

a:link, a:visited {
    color: darkred;
    text-decoration: none
}

a:hover {
    color: dimgrey;
}

#logo {
    margin-left: 25px;
    display: block;
    float: left;
    font-size: 25px;
    line-height: 60px;

}

ul {
    font-size: 15px;
    padding: 0;
    text-align: right;
    margin: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: fixed;
    z-index: 1;
}

nav {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
}

#zajawka {
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    max-width: 1200px;
    background-size: cover;
    position: relative;
}

#zajawka::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("http://static1.squarespace.com/static/55eddc12e4b0b489e5e54c60/t/57495f8fc6fc0859c43fa66d/1464426392841/1.jpg") center;
    opacity: 0.7;
    -webkit-filter: blur(3px);
    z-index: -1;
}

.button {
    padding: 10px 25px;
    background-color: white;
    /*border-radius: 3px;*/
    width: auto;
}

input {
    border: 0;
    padding: 10px 20px;
    margin: 10px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

}
/* FUNKCJE */

#funkcje {
    max-width: 1200px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.fl-right {float: right;}

.fl-left {float: left;
    max-width: 100%;
    height:auto;
    width:auto;

}
.fl-clear {clear: both;}

.img-funkcje {
    max-width: 80%;
    height:auto;
    width:auto;

}
.fl-left-opis {
    max-width: 100%;
    padding: 10px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;

}

#join {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: darkred;
    padding: 60px 0;
    position: relative;
    z-index: 0;
}

#join:after {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Gda%C5%84sk_ulica_Obro%C5%84c%C3%B3w_Westerplatte_%28autobus_622%29.JPG/800px-Gda%C5%84sk_ulica_Obro%C5%84c%C3%B3w_Westerplatte_%28autobus_622%29.JPG") center;
    background-size: cover;
    opacity: 0.5;
    -webkit-filter: blur(3px);
}


#team {
    max-width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

h1 {
    padding-top: 150px;
    color: white;
    opacity: 0.95;
    text-align: center;
    margin: 0 auto 40px;
}


h3 {
    color: white;
    opacity: 0.95;
}

header {
    width: 100%;
    background-color: white;
    margin:0;
    padding: 0;
}

/*social buttons*/

#kontakt {
    max-width: 1200px;
    background-color: lightgrey;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 50px;
    border-bottom: solid 3px #556efe;

}

#kontakt-header {
    padding-left: 60px;
}

.float-left {
    float: left;
    padding-left: 60px;
}

.float-right {
    float: right;
    padding-right: 60px;
}


#kontakt a{
    padding-right: 50px;
}

#button-link {
    display: inline-block;
}

#fbbut {
    background-color: transparent;
    color: black;
    text-align:left;
    padding: 0 auto;
    font-size: 20px;
    border-radius: 15px;
    float: left;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#fbbut:hover {
    background-color: #3b5998;
    color: white;
    /*border: solid 5px white;*/
}



#twitbut {
    background-color: transparent;
    color: black;
    text-align:left;
    padding: 0 auto;
    border-radius: 15px;
    float: left;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s ;
}

#twitbut:hover {
    background-color: #0084b4;
    color: white;
    /*border: solid 5px white;*/

}

#ytbut {
    background-color: transparent;
    color: black;
    text-align:left;
    border-radius: 15px;
    float: left;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s ;
}

#ytbut:hover {
    background-color: #cc181e;
    color: white;
    /*border: solid 5px white;*/

}

#gpbut {
    background-color: transparent;
    color: black;
    text-align:left;
    border-radius: 15px;
    float: left;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s ;
}

#gpbut:hover {
    background-color: #4885ed;
    color: white;
    /*border: solid 5px white;*/
}

#foot {
    display: block;
    padding-left: 450px;
    padding-top: 50px;
}

/*footer*/

#foot2 {
    max-width: 1200px;
    background-color: lightgrey;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}



#foot-all {
    /*webkit-linear-gradient(#1f2121, #1e2325);*/
    background: -moz-linear-gradient(#1f2121, #1e2325);
    background: -o-linear-gradient(#1f2121, #1e2325);
    background: -ms-linear-gradient(#1f2121, #1e2325);
    background: linear-gradient(#1f2121, #1e2325);
    box-shadow: 0 0 1px 0 #1c1d1d inset;
    border-top: solid 3px #1c1d1d;
    border-bottom: solid 3px #1c1d1d;
    padding-top: 25px;
    padding-bottom: 50px;


}

#foot-all ul {
    line-height: 1.75;
    max-width: 100px;
    text-align: left;
    display: inline-block;
    font-size: small;

}

#foot-all ul li {
    line-height: 0;

}

.foot-content {
    float: left;
    padding-right: 75px;
    padding-left: 50px;

}


.foot-content h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: smaller;
}

.float-both {
    clear: both;
}

#copyright {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    color: white;
    line-height: 1.5;
    background-color: #1e2325;

}

.inline-block {
    display: inline-block;
}

.socials {
    /*float: left;*/
    min-height: 60px;
    width: 300px;
    text-align: center;
    padding: 5px 0;
    margin: 0;
    background-color: white;
    display: inline-block;

}

