body {
    background-color: black;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}

li {
    display: inline-block;
    line-height: 60px;
    list-style-image: none;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

a:link, a:visited {
    color: darkred;
    text-decoration: none
}

a:hover {
    color: dimgrey;
}

#logo {
    margin-left: 25px;
    display: block;
    float: left;
    font-size: 25px;
    line-height: 60px;

}

ul {
    font-size: 15px;
    padding: 0;
    text-align: right;
    margin: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 0 auto 0;
    background-color: white;
    text-align: center;
}

#zajawka {
    z-index: 0;
    width: 100%;
    min-height: 500px;
    padding-top: 60px;
    margin: 0 auto 0;
    text-align: center;
    background: url("http://static1.squarespace.com/static/55eddc12e4b0b489e5e54c60/t/57495f8fc6fc0859c43fa66d/1464426392841/1.jpg");
    max-width: 1200px;
    background-size: cover;
}

.button {
    padding: 10px 25px;
    background-color: bisque;
    border-radius: 3px;
    width: auto;
}

input {
    border: 0;
    padding: 10px 20px;
    margin: 10px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

}

#funkcje {
    max-width: 1200px;
    background-color: palevioletred;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#join {
    text-align: center;
    color: darkred;
    padding: 30px;
}

#team {
    max-width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

h1 {
    padding-top: 150px;
    color: white;
    opacity: 0.95;
    text-align: center;
    margin: 0 auto 40px;
}

header {
    width: 100%;
    background-color: white;
    margin:0;
    padding: 0;
}

#kontakt {
    max-width: 1200px;
    background-color: whitesmoke;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

#kontakt a{
    padding-left: 125px;

}

#fbbut {
    background-color: transparent;
    background-image: url(img/fbblack.svg);
    background-repeat: no-repeat;
    background-size: contain; /*wykorzystać w buttonie*/
    background-position: left;
    height: 150px;
    width: 150px;
    color: black;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    border: none;
    border-radius: 15px;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

#fbbut:hover {
    background-color: blue;
    color: white;
    /*background-image: url(img/fbwhite.svg);*/
}



#twitbut {
    background-color: transparent;
    background-image: url(img/twitblack.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    color: black;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    display: inline-block;
    /*box-shadow: 2px 2px 2px grey;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#twitbut:hover {
    background-color: blue;
    color: white;
    /*background-image: url(img/twitwhite.svg);*/
}

#mailbut {
    background-color: transparent;
    background-image: url(img/mailblack.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    color: black;
    font-size: 20px;
    border: none;
    display: inline-block;
    border-radius: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#mailbut:hover {
    background-color: red;
    color: white;
    /*background-image: url(img/mailwhite.svg);*/
}

#ytbut {
    background-color: transparent;
    background-image: url(img/ytblack.svg);
    filter:invert(0%);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    color: black;
    font-size: 20px;
    border: none;
    display: inline-block;
    border-radius: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#ytbut:hover {
    background-color: red;
    color: white;
    /*background-image: url(img/ytwhite.svg);*/
}

#kontakt-header {
    padding-left: 125px;
    padding-bottom: 25px;
    font-size: 36px;
    font-weight: bolder;

}

.foot {
    max-width: 1200px;
    background-color: #111111;
     /* IE6-9 */
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: darkgrey;
    font-size: 22px;
    font-weight: lighter;
    /*padding-left: 450px;*/
    /*padding-top: 50px;*/
    padding-bottom: 25px;
}

.foot-content {
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
    display: block;
    height: 50px;
}

#release {
    font-size: 22px;
}

.socials {
    float: left;
    height: 40px;
    width: 300px;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    background-color: white;
    display: block;
}

