body {
    background-color: black;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}

li {
    display: inline-block;
    line-height: 60px;
    list-style-image: none;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

a:link, a:visited {
    color: darkred;
    text-decoration: none
}

a:hover {
    color: dimgrey;
}

#logo {
    margin-left: 25px;
    display: block;
    float: left;
    font-size: 25px;
    line-height: 60px;

}

ul {
    font-size: 15px;
    padding: 0;
    text-align: right;
    margin: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

#zajawka {
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    text-align: center;
    background: url("http://static1.squarespace.com/static/55eddc12e4b0b489e5e54c60/t/57495f8fc6fc0859c43fa66d/1464426392841/1.jpg");
    max-width: 1200px;
    background-size: cover;
}

.button {
    padding: 10px 25px;
    background-color: bisque;
    border-radius: 3px;
    width: auto;
}

input {
    border: 0;
    padding: 10px 20px;
    margin: 10px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

}

#funkcje {
    max-width: 1200px;
    background-color: palevioletred;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.opis {
    color: black;
    font-size: 45px;
}

#join {
    text-align: center;
    color: darkred;
    padding: 30px;
}

#funkcja1 {
    margin-left: 805px;
}

#funkcja2 {
    margin-right: 805px;
}

#funkcja3 {
    margin-left: 805px;
}

/*Krzysiek pracuje do tego miejsca */

#team {
    max-width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

h1 {
    padding-top: 150px;
    color: white;
    opacity: 0.95;
    text-align: center;
    margin: 0 auto 40px;
}

header {
    width: 100%;
    background-color: white;
    margin:0;
    padding: 0;
}

#kontakt {
    max-width: 1200px;
    background-color: bisque;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

#kontakt a{
    padding-left: 150px;

}

#fbbut {
    background-color: blue;
    height: 100px;
    width: 200px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 2px 2px 2px grey;
}

#twitbut {
    background-color: #00aced;
    height: 100px;
    width: 200px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 2px 2px 2px grey;
}

#mailbut {
    background-color: white;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    color: black;
    font-size: 20px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 2px 2px 2px grey;
}

#foot {
    display: block;
    padding-left: 450px;
    padding-top: 50px;
}

.socials {
    float: left;
    height: 40px;
    width: 300px;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    background-color: white;
    display: block;

}

